.login-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.circle.large {
    width: 228px;
    height: 228px;
    background: var(--main_color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7.32rem;
}

.circle.large img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.title {
    font-size: 40px;
    font-weight: 700;
    color: var(--text_color);
    margin-top: 2.12rem;
}

.subtitle {
    font-size: 16px;
    font-weight: 400;
    color: #2C2C2CF8;
    opacity: 0.7;
    margin-top: 2.13rem;
}

.login-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}



.login-text {
    font-size: 16px;
    color: var(--text_color);
    opacity: 0.7;
    text-align: center;
}

.login-text a {
    text-decoration: none;
    font-weight: 600;
    color: rgba(0, 140, 255, 0.6);
}

.social-content {
    width: 100%;
    border-top: 1px solid #ddd;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
}

.social-text {
    font-size: 14px;
    color: var(--text_color);
    opacity: 0.7;
}

.social-login {
    display: flex;
    justify-content: center;
    gap: 2.75rem;
}

.social-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.social-login img {
    width: 3.125rem;
    height: 3.125rem;
    display: block;
}