body.login2-page .login-main {
    margin-bottom: 5rem;
}

.login-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 330px;
    margin-top: 0rem;
}

.form-group {
    width: 100%;
    text-align: left;
}

.form-group p {
    font-size: 1rem;
    font-weight: 700;
    color: var(--text_color);
    margin: 0 0 0.3rem 0;
    padding: 0;
}

.input {
    width: 100%;
    height: 48px;
    background: var(--bg_color);
    border-radius: 7px;
    border: 1px solid var(--text_color);
    padding: 0 10px;
    box-sizing: border-box;
}

.btn {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
}