.login-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 330px;
    margin-top: 3.5rem;
}

.form-group {
    width: 100%;
    text-align: left;
}

.form-group p {
    font-size: 1rem;
    font-weight: 700;
    color: var(--text_color);
    margin: 0 0 0.3rem 0;
    padding: 0;
}

.input {
    width: 100%;
    height: 48px;
    background: var(--bg_color);
    border-radius: 7px;
    border: 1px solid var(--text_color);
    padding: 0 10px;
    box-sizing: border-box;
}

.btn.large {
    width: 100%;
    height: 50px;
    background: var(--main_color);
    border: none;
    border-radius: 10px;
    color: var(--text_color);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 0.5rem;
}