.signin-header {
    width: 100%;
    max-width: 360px;
    margin-top: 4rem;
    text-align: center;
}

.signin-header .title {
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--text_color);
    margin-bottom: 0.3rem;
    letter-spacing: 0.00 175rem;
}

.signin-header .subtext {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--sub_text_color);
    letter-spacing: 0.00125rem;
}

.signin-main {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 7rem;
}

.signin-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.signin-form label {
    font-size: 1rem;
    font-weight: 700;
    color: var(--text_color);
}

.btn {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
}