.user_setting-header {
    width: 100%;
    max-width: 360px;
    margin-top: 4rem;
    text-align: center;
}

.user_setting-header {
    text-align: left;
}

.title {
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--text_color);
    margin-bottom: 0.3rem;
    letter-spacing: 0.00175rem;
}

.subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--sub_text_color);
    letter-spacing: 0.00125rem;
}

.subtext {
    color: var(--sub_text_color);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.00075rem;
    margin-top: 1.25rem;
}

.toggle {
    margin-top: 1.25rem;
}

.setting_title {
    font-size: 1rem;
    font-weight: 700;
    color: var(--text_color);
    line-height: 1.25rem;
}

.item_div {
    margin-top: 1.88rem;
}

.detail_input {
    margin-top: 1.5rem;
    color: var(--sub_text_color);
    border-color: var(--sub_text_color);
    background: rgba(0, 0, 0, 0.03);
}

.detail_input:disabled {
    opacity: 0.6;
}

.btn {
    margin-top: 1.88rem;
    margin-bottom: 1.87rem;
}