.user_setting-header {
    width: 100%;
    max-width: 360px;
    margin-top: 4rem;
    text-align: center;
}

.user_setting-header {
    text-align: left;
}

.title {
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--text_color);
    margin-bottom: 0.3rem;
    letter-spacing: 0.00175rem;
}

.subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--sub_text_color);
    letter-spacing: 0.00125rem;
}

.subtext {
    color: var(--sub_text_color);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.00075rem;
    margin-top: 1.25rem;
}